footer{
  background-image: linear-gradient(#1b6301, #32c300);
  position: absolute;
  width: 100%;
  z-index: 500;
  color: white;
  text-decoration: none;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

.sub-footer{
  background-color: #1b6301;
  color: white;
}
