*{
	margin: auto;
	position: relative;
}

app-header{
	background-image: linear-gradient(#FAFAFA, #0B7233);
}

.Card {
	max-width: 400px;
}

.container{
	text-align: center;
}

#login-button{
	margin: 0 0 10px 0;
}

button{
	margin-right: 30px;
}
.usuario{
	}

app-footer{
  background-image: linear-gradient(#FAFAFA, #0B7233);
  position: absolute;
  width: 100%;
  z-index: 500;
  color: white;
	text-decoration: none;
	bottom: 0%;
  }