<!-- <app-my-nav></app-my-nav> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of Users">
            <th scope="row">{{ user.id }}</th>
            <th scope="row">{{ user.name }}</th>
            <th scope="row">{{ user.username }}</th>
            <th scope="row">{{ user.email }}</th>
            <th scope="row">{{ user.address.street }}</th>
            <th scope="row">{{ user.address.city }}</th>
        </tr>
    </tbody>
</table>
 -->