<!-- <app-my-nav></app-my-nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Steret</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Users of user">
            <th scope="row">{{ user.id }}</th>
            <th scope="row">{{ user.name }}</th>
            <th scope="row">{{ user.username }}</th>
            <th scope="row">{{ user.email }}</th>
            <th scope="row">{{ user.addres.strret }}</th>
            <th scope="row">{{ user.addres.city }}</th>
        </tr>
    </tbody>
</table>
